.parent{
    display: flex;
}
.selected{
    background: lime !important;
    color: white;
}
.movies{
    background: seagreen;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em;
    max-width: 16em;
}
.movieslistItem{
    font-size: 0.85em;
    padding: 0.5em;
    margin: 0.2em;
    text-align: left;
    background: violet;
}
